<nav>
  <div class="nav-container">
    <ul class="navbar">
      <li class="nav-item">
        <a href="/">Blog</a>
      </li>
      <li class="nav-item">
        <a href="/tutorials/">Tutorials</a>
      </li>
      <li class="nav-item logo">
        <a href="/">KnuckleCuts<img src="" alt="" class="logo"></a>
      </li>
      <li class="nav-item">
        <a href="https://dev-boy.herokuapp.com" target="_blank">Portfolio</a>
      </li>
      <li class="nav-item">
        <a href="/about/">About</a>
      </li>
    </ul>
  </div>
  <div class="mobile-nav">

  </div>
  <div class="mobile-logo logo">
    KnuckleCuts
  </div>
</nav>