<nav>
  <div class="nav-container">
    <ul class="navbar">
      <li class="nav-item">
        <a href="/">Blog</a>
      </li>
      <li class="nav-item">
        <a href="/tutorials/">Tutorials</a>
      </li>
      <li class="nav-item logo">
        <a href="/">KnuckleCuts<img src="" alt="" class="logo"></a>
      </li>
      <li class="nav-item">
        <a href="https://dev-boy.herokuapp.com" target="_blank">Portfolio</a>
      </li>
      <li class="nav-item">
        <a href="/about/">About</a>
      </li>
    </ul>
  </div>
  <div class="mobile-nav">
    <button id="openBtn">&#9776; MENU</button>
  </div>
  <div id="mobileSidebar" class="mobile-nav-side">
    <button id="closeBtn">&times;</button>
    <a href="/">Blog</a>
    <a href="/tutorials/">Tutorials</a>
    <a href="/about/">About</a>
    <a href="/stuff/">Stuff</a>
  </div>
  <div class="mobile-logo">
    <div class="logo">
      KnuckleCuts
    </div>
  </div>
</nav>