<nav>
  <div class="nav-container">
    <ul class="navbar">
      <li class="nav-item">
        <a href="/">Blog</a>
      </li>
      <li class="nav-item logo">
        <a href="/"><img src="/images/logo-2.png" alt="" class="logo"></a>
      </li>
      <li class="nav-item">
        <a href="/about/">About</a>
      </li>
    </ul>
  </div>
  <div class="mobile-nav">
    <button id="openBtn">&#9776; MENU</button>
  </div>
  <div id="mobileSidebar" class="mobile-nav-side">
    <button id="closeBtn">&times;</button>
    <a href="/">Blog</a>
    <a href="/about/">About</a>
  </div>
  <div class="mobile-logo">
    <div class="logo">
      <a href="/"> <img src="/images/logo-2.png" alt=""> </a>
    </div>
  </div>
</nav>