<div id="subscribe-form">
  <header>
    <h3>Subscribe for KnuckleCuts updates</h3>
    <p>This journey is just beginning, receive updates as we progress along our adventure</p>
  </header>
  <form action="https://knucklecuts.us14.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="e7dedb0944f46e2c89d8750bf">
    <input type="hidden" name="id" value="c94f9b5426">
    <div class="form-field">
      
      <div class="field-group">
        <input type="email" name="MERGE0" id="MERGE0" autocapitalize="off" autocorrect="off" placeholder="email address" aria-label="email address">
      </div>
    </div>
    <div class="submit-container">
      <input type="submit" value="Subscribe" name="submit">
    </div>
  </form>
</div>
